<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joannahulek.inventoryapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-permission android:name="android.permission.CALL_PHONE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

        <activity android:name=".activities.StoreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ProductDetailsActivity"
            android:label="@string/product_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StoreActivity" />
        </activity>

        <activity
            android:name=".activities.AddNewProductActivity"
            android:label="@string/add_new_product">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StoreActivity" />
        </activity>

        <provider
            android:name=".data.ProductProvider"
            android:authorities="com.example.joannahulek.inventoryapp"
            android:exported="false" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
</manifest>